@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Lato";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Lato";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

@font-face {
  font-family: 'MyriadPro';
  src: local("MyriadPro"), url("../fonts/MyriadPro-Bold.ttf") format("truetype"), url("../fonts/MyriadPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* BoldItalic */

@font-face {
  font-family: 'MyriadPro';
  src: local("MyriadPro"), url("../fonts/MyriadPro-BoldItalic.ttf") format("truetype"), url("../fonts/MyriadPro-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

.header {
  position: absolute;
  width: 100%;
  right: 0;
  z-index: 50;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}

.header__logo {
  position: absolute;
  top: 35px;
  left: 45px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  margin: 59px 0px 0px 300px;
}

.menu__list li {
  position: relative;
  margin: 0px 25px;
  max-height: 50px;
}

.menu__link {
  color: #ffffff;
  font-family: "MyriadPro";
  font-size: 22px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: normal;
  text-transform: uppercase;
}

.menu__link:hover {
  display: block;
  color: #f1ac11;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  padding: 0px 0px 13px 0px;
  border-bottom: 2px solid #f1ac11;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

/* Слайдер */

/* Слайдер запущен */

/* Слайдер с точками */

/* Ограничивающая оболочка */

.slick-list {
  overflow: hidden;
}

/* Лента слайдов */

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Слайд */

/* Слайд активный (показывается) */

/* Слайд основной */

/* Слайд по центру */

/* Клонированный слайд */

/* Стрелка */

/* Стрелка влево */

/* Стрелка вправо */

/* Стрелка не активная */

/* Точки (булиты) */

/* Активная точка */

/* Элемент точки */

.slider {
  position: relative;
}

.slider .slick-arrow {
  position: absolute;
  top: 40%;
  z-index: 10;
  font-size: 20px;
  width: 60px;
  height: 60px;
}

.slider .slick-arrow.slick-prev {
  left: 100px;
  font-size: 0;
  background: url("../img/icons/left2.png") 0px 0/100% no-repeat;
}

.slider .slick-arrow.slick-prev::after {
  min-width: 120px;
  font-size: 20px;
  content: "prev offer";
  color: #f1ac11;
  font-family: "MyriadPro";
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  position: absolute;
  right: -110px;
  top: 14px;
}

/* Стрелка вправо */

.slider .slick-arrow.slick-next {
  font-size: 0;
  right: 100px;
  background: url("../img/icons/right.png") 0 0/100% no-repeat;
}

.slider .slick-arrow.slick-next::before {
  font-size: 20px;
  content: "next offer";
  color: #f1ac11;
  font-family: "MyriadPro";
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  position: absolute;
  left: -110px;
  top: 14px;
}

.slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px 0px 40px 0px;
}

.slider .slick-dots li {
  list-style: none;
}

.slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #2b2b2b;
  border-radius: 50%;
  margin: 0px 10px;
}

.slider .slick-dots li.slick-active button {
  background-color: #f1ac11;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.container {
  max-width: 1920px;
  margin: 0px auto;
}

.content {
  position: relative;
}

.orange-button {
  border-radius: 2px;
  background-color: #f1ac11;
  color: #2b2b2b;
  font-family: "MyriadPro";
  font-weight: 400;
  font-style: italic;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  line-height: normal;
  font-size: 14px;
  margin: 0px 0px 0px 0px;
}

.main-screen {
  max-width: 1920px;
  margin: 0 auto;
}

.main-screen__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.main-screen__image1 img {
  -o-object-fit: cover;
     object-fit: cover;
}

.main-screen__image2 img {
  position: absolute;
  left: 21%;
  height: 100%;
}

.main-screen__image3 img {
  width: 100%;
  height: 100%;
}

.main-choice {
  position: absolute;
  width: 100%;
  z-index: 40;
  left: center;
  top: 450px;
}

.main-choice__row {
  padding: 0px 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.main-choice__column {
  position: relative;
}

.main-choice__column:hover .main-choice__item {
  opacity: 0.85;
  transform: translate3d(0px, -60px, 0px);
  -webkit-transform: translate3d(0px, -60px, 0px);
  -ms-transform: translate3d(0px, -60px, 0px);
  -o-transform: translate3d(0px, -60px, 0px);
  -moz-transform: translate3d(0px, -60px, 0px);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.main-choice__item {
  width: 372px;
  height: 200px;
  opacity: 0.4;
  background-color: #fff;
  text-align: center;
  color: #000000;
  font-family: "MyriadPro";
  font-style: normal;
  letter-spacing: normal;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-radius: 20px;
  line-height: normal;
}

.main-choice__title {
  height: 71px;
  margin: 35px 69px 35px 69px;
  font-size: 38px;
  font-weight: 700;
  letter-spacing: 1.9px;
}

.main-choice__button {
  padding: 10px 40px;
  font-family: inherit;
  border-radius: 4px;
  background-color: #f1ac11;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  color: #2b2b2b;
  font-style: normal;
  letter-spacing: 0.6px;
  line-height: normal;
}

.main-choice__button_long {
  padding: 10px 30px;
}

.food-menu__body {
  text-align: center;
}

.daily-menu {
  padding: 0px 15px 0px 15px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 900px;
}

.daily-menu__title {
  font-family: "MyriadPro";
  color: #f1ac11;
  font-size: 42px;
  font-weight: 400;
  font-style: italic;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2.1px;
  margin: 81px 0px 41px 0px;
}

.daily-menu__title img {
  display: none;
}

.daily-menu__down img {
  display: none;
}

.daily-menu__checkbox1 {
  color: #014503;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  font-family: "MyriadPro";
  position: relative;
}

.daily-menu__checkbox1 input[type="checkbox"] {
  visibility: hidden;
  margin: 0px 16px 0px 0px;
}

.daily-menu__checkbox1 input[type="checkbox"]:checked + label {
  background: url("../img/icons/check1.png") 0 0/100% no-repeat;
}

.daily-menu__checkbox1 input[type="checkbox"]:checked + label :after {
  opacity: 1;
}

.daily-menu__checkbox1 label {
  background-color: #eee;
  border-radius: 50%;
  cursor: pointer;
  height: 14px;
  left: 0;
  position: absolute;
  top: 3px;
  width: 14px;
  border: 2px solid #014503;
}

.daily-menu__checkbox1 label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 12px;
}

.daily-menu__menu {
  margin: 40px 0px 60px 0px;
}

.daily-menu__row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item__possition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 40px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item__possition span {
  display: block;
}

.possition {
  text-align: center;
}

.possition__image {
  margin: 0px 30px 0px 0px;
}

.possition__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.possition__name {
  color: #2b2b2b;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
  font-family: "MyriadPro";
  line-height: normal;
  margin: 0px 0px 20px 0px;
  position: relative;
  width: 294px;
}

.possition__name .price {
  display: inline;
  font-family: "MyriadPro";
  font-weight: 700;
  font-style: bold;
  letter-spacing: 0.7px;
  line-height: normal;
  font-size: 14px;
  margin: 0px 0px 0px 10px;
}

.possition__name .price_9,
.possition__name .price_18,
.possition__name .price_6 {
  margin: 0px 0px 0px 13px;
}

.possition__name::after {
  content: '';
  z-index: -1;
  position: absolute;
  background: url("../img/image/menu/Obdélník_2.png") 0 0/100% no-repeat;
  width: 44px;
  height: 27px;
  right: 0px;
}

.possition__alergens {
  color: #bcbcbc;
  font-size: 13px;
  font-weight: 400;
  font-style: italic;
  text-align: left;
  text-transform: uppercase;
  line-height: normal;
  font-family: "MyriadPro";
}

.online-menu__body {
  max-width: 100%;
}

.online-menu__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.online-menu__row-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.online-menu__column-1 {
  border: 3px solid #f6f6f6;
  border-right: 0;
  position: relative;
  max-height: 302px;
}

.online-menu__column-1::before {
  top: -35px;
  left: -35px;
}

.online-menu__image-box {
  position: relative;
}

.online-menu__image-box::before {
  bottom: -35px;
  left: -35px;
}

.online-menu__column-2 {
  background-color: #ffffff;
  border: 3px solid #f6f6f6;
  border-left: 0;
  position: relative;
  max-height: 302px;
}

.online-menu__column-2::after {
  bottom: -35px;
  right: -35px;
}

.online-menu__item {
  position: relative;
  padding: 30px 0px 30px 30px;
  text-align: left;
  margin: 0px 15px 0px 0px;
}

.online-menu__item::after {
  top: -35px;
  right: -35px;
}

.online-menu__column-1::before,
.online-menu__image-box::before,
.online-menu__column-2::after,
.online-menu__item::after {
  content: '';
  position: absolute;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #fff;
  z-index: 1;
  border: 2px solid #f6f6f6;
}

.online-menu__title {
  color: #f1ac11;
  font-family: "MyriadPro";
  font-style: italic;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  margin: 0px 0px 15px 0px;
}

.online-menu__name {
  max-width: 310px;
  max-height: 45px;
  color: #2b2b2b;
  font-size: 24px;
  font-family: "MyriadPro";
  text-transform: uppercase;
  text-align: left;
  font-style: italic;
  letter-spacing: 1.2px;
  line-height: normal;
  margin: 0px 0px 26px 0px;
}

.online-menu__structure {
  max-width: 360px;
  max-height: 80;
  color: #d4d4d4;
  font-family: "MyriadPro";
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  line-height: normal;
  letter-spacing: 0.7px;
  margin: 0px 0px 24px 0px;
}

.sell__orange-button {
  padding: 10px 13px;
}

.place__body {
  position: relative;
}

.place__body .background {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.place__row {
  text-align: center;
  height: 490px;
}

.place__column {
  padding: 0px 0px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../img/image/2-layers.png") center/100% no-repeat;
}

.place__item {
  margin: 0px 68px;
}

.place__title {
  color: #000000;
  font-size: 28px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: normal;
  line-height: normal;
  text-transform: uppercase;
  font-family: "MyriadPro";
  margin: 0px 0px 41px 0px;
}

.place__adress {
  font-family: "MyriadPro";
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: normal;
  line-height: normal;
  color: #000000;
}

.place__show {
  padding: 11px 13px;
}

.adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 40px 0px;
}

.adress__text {
  width: 150px;
  text-align: left;
  margin: 0px 0px 0px 70px;
}

.footer__row {
  background: url("../img/image/footer.png") center/cover no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-title {
  color: #ffffff;
  font-weight: 400;
  font-style: italic;
  letter-spacing: normal;
  line-height: normal;
  text-transform: uppercase;
  font-family: "MyriadPro";
  font-size: 22px;
}

.information {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.information__row {
  margin: 0px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.information__item {
  margin: 80px 35px 80px 35px;
}

.information__list {
  margin: 28px 0px 0px 0px;
}

.information__link {
  font-size: 17px;
  font-style: italic;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
  font-family: "MyriadPro";
  color: #bbbbbb;
  font-weight: 400;
}

.sign-up {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.sign-up__item {
  margin: 80px 0px 80px 130px;
}

.sign-up__title {
  margin: 0px 0px 42px 0px;
  text-align: center;
}

.form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__input {
  background-color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: normal;
  line-height: normal;
  font-family: "MyriadPro";
  text-align: left;
  width: 223px;
  height: 36px;
  opacity: 0.5;
  padding: 0px 10px;
  margin: 0px 0px 0px 0px;
}

.form__button {
  padding: 11px 20px;
  margin: 0px 0px 0px 23px;
}

@media (max-width: 1650px) {
  .header {
    height: 130px;
    background: #000;
    border-bottom: 3px solid #f1ac11;
    position: fixed;
    -webkit-transition: -webkit-transform .1s linear;
    transition: -webkit-transform .1s linear;
    -o-transition: transform .1s linear;
    transition: transform .1s linear;
    transition: transform .1s linear, -webkit-transform .1s linear;
  }

  .header__logo {
    position: absolute;
    top: 10px;
    left: 45px;
  }

  .header.hide {
    -webkit-transform: translateY(-130px);
        -ms-transform: translateY(-130px);
            transform: translateY(-130px);
  }
}

@media (max-width: 1464px) {
  .online-menu__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-width: 100%;
  }

  .online-menu__row-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
  }

  .online-menu__column-1 {
    border: 3px solid #f6f6f6;
    border-right: 0;
    position: relative;
  }

  .online-menu__column-1::before {
    top: -35px;
    left: -35px;
  }

  .online-menu__image-box {
    position: relative;
  }

  .online-menu__image-box img {
    width: 100%;
  }

  .online-menu__image-box::before {
    bottom: -35px;
    left: -35px;
  }

  .online-menu__column-2 {
    background-color: #ffffff;
    border: 3px solid #f6f6f6;
    border-left: 0;
    position: relative;
  }

  .online-menu__column-2::after {
    bottom: -35px;
    right: -35px;
  }

  .online-menu__item {
    position: relative;
    padding: 30px 0px 30px 30px;
  }

  .online-menu__item::after {
    top: -35px;
    right: -35px;
  }

  .online-menu__title {
    color: #f1ac11;
    font-family: "MyriadPro";
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    margin: 0px 0px 15px 0px;
  }

  .online-menu__name {
    max-width: 310px;
    max-height: 45px;
    color: #2b2b2b;
    font-size: 24px;
    font-family: "MyriadPro";
    text-transform: uppercase;
    text-align: left;
    font-style: italic;
    letter-spacing: 1.2px;
    line-height: normal;
    margin: 0px 0px 26px 0px;
  }

  .online-menu__structure {
    max-height: 80;
    color: #d4d4d4;
    font-family: "MyriadPro";
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    line-height: normal;
    letter-spacing: 0.7px;
    margin: 0px 0px 24px 0px;
  }
}

@media (max-width: 1404px) {
  .slider .slick-arrow.slick-prev {
    background: url("../img/icons/left2.png") -17px 0/100% no-repeat;
  }

  .slider .slick-arrow.slick-prev::after {
    display: none;
  }

  .slider .slick-arrow.slick-next {
    background: url("../img/icons/right.png") 17px 0/100% no-repeat;
  }

  .slider .slick-arrow.slick-next::before {
    display: none;
  }
}

@media (max-width: 1276px) {
  .main-choice {
    top: 7%;
  }

  .main-choice__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .main-choice__column {
    padding: 20px 0px 20px 0px;
  }

  .main-choice__item {
    width: 450px;
    height: 250px;
  }

  .main-choice__button {
    margin: 15px 0px 0px 0px;
    padding: 10px 40px;
    font-family: inherit;
    border-radius: 4px;
    background-color: #f1ac11;
    font-size: 19px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    color: #2b2b2b;
    font-style: normal;
    letter-spacing: 0.6px;
    line-height: normal;
  }

  .main-choice__button_long {
    padding: 10px 25px;
  }
}

@media (max-width: 1118px) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: #4d4959;
    padding: 150px 0px 20px 0px;
    transform: translate3d(0px, -100%, 0px);
    -webkit-transform: translate3d(0px, -100%, 0px);
    -ms-transform: translate3d(0px, -100%, 0px);
    -o-transform: translate3d(0px, -100%, 0px);
    -moz-transform: translate3d(0px, -100%, 0px);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu__body._active {
    transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
  }

  .menu__list {
    margin: 20px 0px 0px 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__list li {
    padding: 0px 0px 45px 0px;
  }

  .menu__list li:nth-child(2),
  .menu__list li:nth-child(3) {
    padding: 0px 0px 45px 0px;
  }

  .menu__list li:last-child {
    padding: 0;
  }

  .menu__list li:after {
    width: 4px;
    height: 4px;
    background-color: #fff;
    right: 50%;
    top: 40px;
    margin: 3px -2px 0px 0px;
  }

  .menu__list li:nth-child(2):after {
    display: block;
  }

  .menu__link {
    color: #fff;
    font-size: 20px;
  }

  .icon-menu {
    display: block;
    position: absolute;
    top: 60px;
    right: 95px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  body.lock {
    overflow: hidden;
  }

  ._active span {
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    background-color: #fff;
  }

  ._active span:first-child {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 8px;
  }

  ._active span:last-child {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: 8px;
  }
}

@media (max-width: 1000px) {
  .footer__row {
    background: url("../img/image/footer.png") center/cover no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .footer-title {
    color: #ffffff;
    font-weight: 400;
    font-style: italic;
    letter-spacing: normal;
    line-height: normal;
    text-transform: uppercase;
    font-family: "MyriadPro";
    font-size: 22px;
  }

  .information {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .information__row {
    margin: 0px 0px 0px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .information__item {
    margin: 80px 15px 80px 15px;
  }

  .information__list {
    margin: 28px 0px 0px 0px;
  }

  .information__link {
    font-size: 17px;
    font-style: italic;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    text-transform: uppercase;
    font-family: "MyriadPro";
    color: #bbbbbb;
    font-weight: 400;
  }

  .sign-up {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .sign-up__item {
    margin: 80px 0px 0px 0px;
  }

  .sign-up__title {
    margin: 0px 0px 42px 0px;
    text-align: center;
  }

  .form__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .form__input {
    background-color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: normal;
    line-height: normal;
    font-family: "MyriadPro";
    text-align: left;
    width: 223px;
    height: 36px;
    opacity: 0.5;
    padding: 0px 10px;
    margin: 0px 0px 0px 0px;
  }

  .form__button {
    padding: 11px 20px;
    margin: 0px 0px 0px 23px;
  }
}

@media (max-width: 908px) {
  .daily-menu {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .daily-menu__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .daily-menu .possition {
    max-width: 409px;
  }

  .daily-menu__checkbox1 {
    width: 404px;
  }

  .online-menu__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-width: 100%;
  }

  .online-menu__row-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
  }

  .online-menu__column-1 {
    overflow: hidden;
    border: 3px solid #f6f6f6;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
  }

  .online-menu__image-box img {
    width: 100%;
  }

  .online-menu__column-2 {
    background-color: #ffffff;
    border: 3px solid #f6f6f6;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
  }

  .online-menu__column-1::before,
  .online-menu__image-box::before,
  .online-menu__column-2::after,
  .online-menu__item::after {
    content: '';
    display: none;
  }

  .online-menu__item {
    padding: 30px 0px 30px 30px;
  }

  .online-menu__title {
    color: #f1ac11;
    font-family: "MyriadPro";
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    margin: 0px 0px 15px 0px;
  }

  .online-menu__name {
    max-height: 45px;
    color: #2b2b2b;
    font-size: 24px;
    font-family: "MyriadPro";
    text-transform: uppercase;
    text-align: left;
    font-style: italic;
    letter-spacing: 1.2px;
    line-height: normal;
    margin: 0px 0px 26px 0px;
  }

  .online-menu__structure {
    max-height: 80;
    color: #d4d4d4;
    font-family: "MyriadPro";
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    line-height: normal;
    letter-spacing: 0.7px;
    margin: 0px 0px 24px 0px;
  }

  .main-choice {
    top: 5%;
  }

  .main-choice__column {
    padding: 20px 0px 20px 0px;
  }
}

@media (max-width: 767px) {
  .header {
    height: 80px;
  }

  .header__logo {
    position: absolute;
    top: -5px;
    left: 25px;
  }

  .header__logo img {
    width: 260px;
  }

  .icon-menu {
    top: 28px;
    right: 50px;
    width: 40px;
    height: 28px;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #ffffff;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  ._active span {
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    background-color: #fff;
  }

  ._active span:first-child {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 12px;
  }

  ._active span:last-child {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: 13px;
  }

  .main-choice__title {
    font-size: 33px;
  }

  .main-choice {
    top: 5%;
  }

  .main-choice__column {
    padding: 20px 0px 20px 0px;
  }

  .daily-menu__title {
    font-size: 30px;
    margin: 51px 0px 41px 0px;
  }

  .online-menu__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-width: 100%;
  }

  .online-menu__row-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
  }

  .online-menu__column-1 {
    border: 3px solid #f6f6f6;
    border-right: 0;
  }

  .online-menu__image-box img {
    width: 100%;
  }

  .online-menu__column-2 {
    background-color: #ffffff;
    border: 3px solid #f6f6f6;
    border-left: 0;
  }

  .online-menu__item {
    padding: 30px 0px 30px 30px;
  }

  .online-menu__title {
    color: #f1ac11;
    font-family: "MyriadPro";
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    margin: 0px 0px 15px 0px;
  }

  .online-menu__name {
    color: #2b2b2b;
    font-size: 24px;
    font-family: "MyriadPro";
    text-transform: uppercase;
    text-align: left;
    font-style: italic;
    letter-spacing: 1.2px;
    line-height: normal;
    margin: 0px 0px 26px 0px;
  }

  .online-menu__structure {
    color: #d4d4d4;
    font-family: "MyriadPro";
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    line-height: normal;
    letter-spacing: 0.7px;
    margin: 0px 0px 24px 0px;
  }

  .footer__row {
    background: url("../img/image/footer.png") center/cover no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .information {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .information__row {
    margin: 0px 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .information__item {
    margin: 30px 15px 20px 15px;
  }

  .information__list {
    margin: 18px 0px 0px 0px;
  }

  .sign-up__item {
    margin: 25px 0px 40px 0px;
  }

  .sign-up__title {
    margin: 0px 0px 30px 0px;
  }
}

@media (max-width: 620px) {
  .place__row {
    margin: 0px 20px;
  }

  .place__column {
    height: 100%;
    width: 100%;
  }

  .information {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .information__row {
    margin: 20px 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .information__column {
    text-align: center;
  }

  .information__item {
    margin: 10px 15px 20px 15px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .information__list {
    margin: 18px 0px 0px 0px;
  }

  .information__list li {
    margin: 0px 0px 5px 0px;
  }

  .information__link {
    font-size: 17px;
    font-style: italic;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    text-transform: uppercase;
    font-family: "MyriadPro";
    color: #bbbbbb;
    font-weight: 400;
  }

  .sign-up__item {
    margin: 0px 0px 40px 0px;
  }

  .sign-up__title {
    margin: 0px 0px 30px 0px;
  }
}

@media (max-width: 524px) {
  .main-choice__item {
    width: 100%;
  }

  .main-choice__row {
    margin: 0px 30px 0px 30px;
    padding: 0px 0px 0px 0px;
  }

  .main-choice__column {
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 20px 0px 20px 0px;
  }

  .main-choice__title {
    margin: 35px 30px 35px 30px;
  }

  .place__body {
    position: relative;
  }

  .place__body .background {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    z-index: -1;
  }

  .place__row {
    margin: 0px 20px;
    height: 450px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .place__column {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: url("../img/image/2-layers.png") center no-repeat;
    border-radius: 10px;
    overflow: hidden;
  }

  .place__item {
    margin: 15px 68px;
  }

  .place__title {
    color: #000000;
    font-size: 28px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: normal;
    line-height: normal;
    text-transform: uppercase;
    font-family: "MyriadPro";
    margin: 0px 0px 41px 0px;
  }

  .place__adress {
    height: 110px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "MyriadPro";
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: normal;
    line-height: normal;
    color: #000000;
  }

  .place__show {
    padding: 11px 13px;
  }
}

@media (max-width: 473px) {
  .main-choice {
    top: 150px;
  }

  .daily-menu {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px 0px 20px 0px;
  }

  .daily-menu__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }

  .daily-menu__title {
    display: inline-block;
    margin: 51px 5px 15px -15px;
  }

  .daily-menu__down {
    display: inline-block;
    position: relative;
  }

  .daily-menu__down img {
    position: absolute;
    bottom: -15px;
    display: inline-block;
    width: 50px;
    height: 50px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }

  .daily-menu .active {
    display: block;
  }

  .daily-menu .up img {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }

  .daily-menu__menu {
    display: none;
  }

  .daily-menu__checkbox1 {
    display: none;
    width: 208px;
    margin: 10px 0px 0px 0px;
  }

  .daily-menu .possition {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 5px dotted #f1ac11;
    padding-bottom: 30px;
  }

  .daily-menu .possition__image {
    margin: 0px 0px 20px 0px;
  }

  .daily-menu .possition__image img {
    width: 200px;
  }

  .online-menu__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-width: 100%;
  }

  .online-menu__row-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
  }

  .online-menu__column-1 {
    border: 3px solid #f6f6f6;
    border-right: 0;
    margin: 0px 5px;
  }

  .online-menu__image-box img {
    width: 100%;
  }

  .online-menu__column-2 {
    background-color: #ffffff;
    border: 3px solid #f6f6f6;
    border-left: 0;
    max-height: 100%;
    margin: 0px 5px;
  }

  .online-menu__item {
    padding: 30px 0px 20px 30px;
  }

  .online-menu__title {
    color: #f1ac11;
    font-family: "MyriadPro";
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    margin: 0px 0px 15px 0px;
  }

  .online-menu__name {
    color: #2b2b2b;
    font-size: 20px;
    font-family: "MyriadPro";
    text-transform: uppercase;
    text-align: left;
    font-style: italic;
    letter-spacing: 1.2px;
    line-height: normal;
    margin: 0px 0px 26px 0px;
  }

  .online-menu__structure {
    color: #d4d4d4;
    font-family: "MyriadPro";
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    line-height: normal;
    letter-spacing: 0.7px;
    margin: 0px 0px 24px 0px;
  }

  .place__body {
    position: relative;
  }

  .place__body .background {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    z-index: -1;
  }

  .place__row {
    margin: 0px 20px;
    height: 450px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .place__column {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: url("../img/image/2-layers.png") center no-repeat;
    border-radius: 30px;
    overflow: hidden;
  }

  .place__item {
    margin: 20px 0px;
  }

  .place__title {
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: normal;
    line-height: normal;
    text-transform: uppercase;
    font-family: "MyriadPro";
    margin: 0px 0px 30px 0px;
  }

  .place__adress {
    height: 110px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "MyriadPro";
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: normal;
    line-height: normal;
    color: #000000;
  }

  .place__show {
    padding: 11px 13px;
  }
}

@media (max-width: 392px) {
  .header__logo {
    left: -10px;
  }

  .icon-menu {
    right: 30px;
  }
}

@media (max-width: 388px) {
  .form__input {
    width: 170px;
  }
}
@supports (-webkit-appearance:none){
.slider .slick-arrow.slick-prev{background:url("../img/icons/left2.webp") 0px 0/100% no-repeat}
.slider .slick-arrow.slick-next{background:url("../img/icons/right.webp") 0 0/100% no-repeat}
.daily-menu__checkbox1 input[type="checkbox"]:checked + label{background:url("../img/icons/check1.webp") 0 0/100% no-repeat}
.possition__name::after{background:url("../img/image/menu/Obdélník_2.webp") 0 0/100% no-repeat}
.place__column{background:url("../img/image/2-layers.webp") center/100% no-repeat}
.footer__row{background:url("../img/image/footer.webp") center/cover no-repeat}
}

 @media (max-width: 1650px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1464px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1404px){

@supports (-webkit-appearance:none){
.slider .slick-arrow.slick-prev{background:url("../img/icons/left2.webp") -17px 0/100% no-repeat}
.slider .slick-arrow.slick-next{background:url("../img/icons/right.webp") 17px 0/100% no-repeat}
}

}

 @media (max-width: 1276px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1118px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1000px){

@supports (-webkit-appearance:none){
.footer__row{background:url("../img/image/footer.webp") center/cover no-repeat}
}

}

 @media (max-width: 908px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767px){

@supports (-webkit-appearance:none){
.footer__row{background:url("../img/image/footer.webp") center/cover no-repeat}
}

}

 @media (max-width: 620px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 524px){

@supports (-webkit-appearance:none){
.place__column{background:url("../img/image/2-layers.webp") center no-repeat}
}

}

 @media (max-width: 473px){

@supports (-webkit-appearance:none){
.place__column{background:url("../img/image/2-layers.webp") center no-repeat}
}

}

 @media (max-width: 392px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 388px){

@supports (-webkit-appearance:none){

}

}
